<div class="col-xl-12">

  <h2>Mes appareils</h2>
  
  <p>Mis à jour : {{ lastUpdate | date: 'short' | uppercase }}</p>

  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index" 
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status"
                  [appareilIndex]="i" 
                  [appareilId]="appareil.id">
    </app-appareil>
  </ul>

  <button class="btn btn-success" (click)="onAllumer()" style="margin-right: 10px;">Tout allumer</button>

  <button class="btn btn-danger" (click)="onEteindre()" style="margin-right: 10px;">Tout éteindre</button>
  
  <button class="btn btn-primary" (click)="onSave()" style="margin-right: 10px;">Enregistrer les appareils</button>
  
  <button class="btn btn-primary" (click)="onFetch()" style="margin-right: 10px;">Récupérer les appareils</button>
  
</div>